// Global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

:root {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  padding: 1rem 2rem;
  border: 1px solid black;
  border-radius: .5rem;
  cursor: pointer;
  transition: filter .2s;

  &:hover {
    filter: brightness(.9);
  }
}

// App
main {
  width: 100vw;
  height: 100vh;
  background: lightgray;

  position: relative;
}

header {
  padding: 3rem;
  width: 100%;
  background: white;
  
  position: absolute;
  top: 0;

  h1 {
    font-size: 2.5rem;
  }
}

article {
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 1.9rem;
  }

  button {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
  }
}

.forecastContainer {
  width: 43rem;
  height: 23rem;
  background: rgb(182, 182, 182);
  border: 3px solid black;
  border-radius: 1rem;
}

.currentDay {
  padding: 1rem;
  border-bottom: 1px solid black;

  display: flex;
  justify-content: space-between;

  div.cond {
    font-size: 1.5rem;

    i {
      margin: 1rem 0;
      font-size: 5rem;
      color: yellow;
    }
  }

  div.temp {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    font-size: 1.7rem;
    text-align: center;

    span {
      font-size: 7rem;
    }
  }
}

.nextDays {
  height: calc(100% - 147px);
  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 1.5rem;
  text-align: center;

  div.day {
    &:not(&:last-child) {
      border-right: 1px solid black;
    }

    i {
      margin: .5rem 0;
      font-size: 2.5rem;
      color: gray;
    }
  }
}